#top {
    display: grid;
    grid-template-columns: 1fr auto;
}

#left{
    display: flex;
    flex-direction: column;
    max-width: fit-content;

    padding: 4rem;
}

#l1, #l2 {
    font-size: 3.5rem;
    font-weight: 300;
    height: fit-content;
}

#l2 {
    color:rgb(43, 170, 199);
}

#l3 {
    font-family: 'Open-sans';
    font-weight: 500;
    font-size: 1.25rem; 
    margin-block: 2.5rem;
}

#right > img {
    width: 40rem;
}

#bottom {
    margin-block: 4rem;
}

#part1 > label {
    width: 100%;
    color:rgb(43, 170, 199);
    font-size: 3.5rem;
    font-weight: 300;

    width: fit-content;
}

#steps-list {
    display: flex;
    flex-direction: row;
}

#steps-list > li {
    margin-inline: 2rem;
    width: 18rem;
    height: 25rem;

    display: grid;
    grid-template-rows: auto 1fr auto;
}

#steps_card1 {
    color: rgb(52, 121, 244);
}

#steps_card2 {
    color: rgb(240, 68, 59);
}

#steps_card3 {
    color: rgb(6, 145, 133);
}

.btm_txt {
    margin-block: 1rem;
    font-size: 1.15rem;
}

.steps-img {
    width: 12rem;
}