@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html{
    font-family: 'Open-Sans', sans-serif;
}

body {
    background-color: rgb(250, 250, 250);
}

footer {
    background-color: rgb(53, 58, 64);
    color: white;

    padding: 1rem;
}

/* #contact_btn > button {
    color: white;
} */

header {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    background-color: rgb(53, 58, 64);
    color: white;
    height: 4rem;

    padding: 0.25rem;
    padding-inline: 2rem;

    display: grid;
    grid-template-columns: auto 1fr auto;
}

#logo_div > img {
    height: auto;
    width: 3rem;
    margin-inline-end: 1rem;
}

#Title {
    font-size: 1.15em;
}

#login_btn {
    display: grid;
    grid-template-columns: auto auto;
}

#login_btn > i {
    margin-inline: 0.5rem;
}

#right > img {
    /* DO rotate animation */
    animation: rotate 10s infinite linear;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.grid_center {
    display: grid;
    place-items: center; 
}

.bare-link, .bare-link:hover, .bare-link:focus {
    text-decoration: none;
    color: inherit;
}

.bare-label {
    margin:0;
}

.bare-list {
    margin: 0;
    padding: 0;
    list-style: none;
}