{% extends 'medapp/layout.html' %}
{% load static %}

{% block css_files %}
<link href="{% static 'medapp/index.css' %}" rel="stylesheet">
{% endblock css_files %}

{% block body %}
    <div id="content">
        <div id="top">

            <div id="left">

                <div>
                    <label id="l1" class="bare-label">
                        MedAssist is
                    </label>
                    <label id="l2" class="bare-label">
                        Digital Medical Assistant
                    </label>
                </div>

                <div>
                    <label id="l3" class="bare-label">
                        It can Identify even Bigger Health Problems.
                    </label>
                    
                    <div id="try_btn">
                        <button type="button" class="btn btn-info">Try now</button>
                    </div>
                </div>
            </div>

            <div id="right">
                <img src="{% static 'img/circle.png' %}" alt="circle">
            </div>

        </div>
        <div id="bottom">

            <div id="part1" class="grid_center">
                <label class="bare-label">
                    See How It Works
                    <hr>
                </label>
            </div>

            <div id="part2">

                <div class="grid_center">
                    <ul id="steps-list" class="bare-list">
                        <li id="steps_card1" class="bare-li card">
                            <label class="bare-label grid_center" style="font-size: 3rem;font-weight: 600;">1</label>
                            <div class="grid_center">
                                <img class="steps-img" src="{% static 'img/account.png' %}" alt="account">
                            </div>
                            <label class="btm_txt bare-label grid_center">Create Your Free Account</label>
                        </li>
                        <li id="steps_card2" class="bare-li card">
                            <label class="bare-label grid_center" style="font-size: 3rem;font-weight: 600;">2</label>
                            <div class="grid_center">
                                <img class="steps-img" src="{% static 'img/idea.png' %}" alt="account">
                            </div>
                            <label class="btm_txt bare-label grid_center">Identify Your Symptoms</label>
                        </li>
                        <li id="steps_card3" class="bare-li card">
                            <label class="bare-label grid_center" style="font-size: 3rem;font-weight: 600;">3</label>
                            <div class="grid_center">
                                <img class="steps-img" src="{% static 'img/notes.png' %}" alt="account">
                            </div>
                            <label class="btm_txt bare-label grid_center">Get medical advice</label>
                        </li>
                    </ul>
                </div>

            </div>

        </div>
    </div>
{% endblock %}